body{
    background-color: rgb(59, 59, 59);
    width: 500px;
    height: 1000px;
}
header{
    background-color: blueviolet;
    margin: 10px 0px 15px 0px;
}
nav{
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aTarjeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    width: 155px;
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
}
.aTarjeta img{
    
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
}
