html{
    scroll-behavior: smooth;
} 

body{
    width: 450px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(36, 36, 36);
    
}
header{
    
    margin: 10px 0px 15px 0px;
    
}
hr{
    color:rgb(97, 97, 97); 
    height: 0.1px;
    margin: 5px;
    border-style: dashed;
    
}
nav .busqueda{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: rgb(36, 36, 36);
}
form{
    width: 100%;
    display: flex;
    justify-content: center;

}
.inputBuscar{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    
    font-size: 15px;
    font-weight: 10px;
    color: rgba(255, 255, 255,0.8);
    background-color: rgb(51, 50, 50);
    letter-spacing: 0.7px; 
}
.inputBuscar::placeholder{
    
    background-image: url(../img/lupa_blanca.png);
    background-size: 17px;
    background-repeat: no-repeat;
    
}

header{
    margin: 0px;
}
nav .botones{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aTarjeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(51, 50, 50);
    width: max-content;
    height: max-content;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    padding: 0px,5px;
    justify-content: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}



.tarjetaIMG{
    
    width: 20px;
    height: 20px;
    border-radius: 5px; 
    
    margin-left: 5px;
    margin-right: 2.5px;
    
}

.tituloTarjeta{
    color: rgb(224, 220, 220);
    word-wrap: break-word;
    margin-right: 5px;
    margin-left: 2.5px;
    font-weight: 500;
    
}
.tituloTarjetaVacio{
    color: rgb(224, 220, 220);
    word-wrap: break-word;
    background-color: aqua;
    margin-left: 2.5px;
    font-weight: 500;
    
}
.botonesMenu{
    width: max-content;
    height: max-content;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(51, 50, 50);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    color: white;

}


.seleccionado{
    box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5);
}
.seleccionadoSalir{
    transition: all 0.3s;
}
.seleccionadoHover:hover{
    box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5);
    
}

#bajarSubir{
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 30px;
    padding: 0px;
    
    width: 30px;
    height: 30px;
}

#imgBajarSubir{
    margin: 0px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s;
}
#imgBajarSubir:hover{
    box-shadow: 0px 0px 8px rgba(255, 255, 255,0.5);
}

.rotar{
    transform: rotate(180deg);
    
}


::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(51, 50, 50);
    border-radius: 20px;
    border: 1px dashed rgb(97, 97, 97);
    
  }
  