/* @font-face {
    font-family: "mononoki";
    src: url(../font/mononoki-Bold.otf);
} */
body{
    
    /* font-family: "nononoki"; */
    width: 500px;
    height: 500px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(36, 36, 36);
    
}
header{
    
    margin: 10px 0px 15px 0px;
    
}
hr{
    color:rgb(64, 63, 63); 
    height: 0.1px;
    margin: 5px;
    border-style: dashed;
    
}
nav .busqueda{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: rgb(36, 36, 36);
    
}
form{
    width: 100%;
    display: flex;
    justify-content: center;

}
.inputBuscar{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0px 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(224, 220, 220);
    font-size: 15px;
    font-weight: bold;
    /* font-family: 'mononoki'; */
}
.inputBuscar::placeholder{
    
    background-image: url(../img/lupa.png);
    background-size: 17px;
    background-repeat: no-repeat;
    
}
header{
    margin: 0px;
}
nav .botones{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aTarjeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(51, 50, 50);
    width: max-content;
    height: max-content;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    padding: 0px,5px;
    justify-content: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}
.aTarjeta img{
    
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 2.5px;
    
}
.aTarjeta p{
    color: rgb(224, 220, 220);
    word-wrap: break-word;
    margin-right: 5px;
    margin-right: 2.5px;
    font-weight: 500;
    /* font-family: 'mononoki'; */
}
.botonesMenu{
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 10px;
   
}
.botonesMenu:hover{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    
}
#botonFav{
    background-image: url(../img/latido-del-corazon.gif);
    filter: hue-rotate(180deg);
    
}

#botonAll{
    background-image: url(../img/vegetal.gif);
    
}
#botonTools{
    background-image: url(../img/herramientas-para-reparar.gif);
    filter: hue-rotate(90deg);
}
#botonLearning{
    background-image: url(../img/libro2.gif);
    filter: hue-rotate(280deg);
}
#botonResour{
    background-image: url(../img/paleta.gif);
    filter: hue-rotate(120deg);
}
#botonEnterta{
    background-image: url(../img/television.gif);
    filter: hue-rotate(50deg);
}
#botonAdmin{
    background-image: url(../img/fabrica.gif);
    filter: hue-rotate(220deg);
}
::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(51, 50, 50);
    border-radius: 20px;
    border: 1px dashed rgb(97, 97, 97);
    
  }
  